.icon_user,
.icon_bell,
.icon_searchAdmin {
    font-size: 25px;
    font-weight: bold;
    padding: 6px;
    background-color: #fff;
}

.icon_searchAdmin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_flash {
    background-color: #fff;
}

.btn_flash:hover {
    cursor: pointer;
}

.icon_user:hover,
.icon_bell:hover,
.icon_searchAdmin:hover {
    background-color: rgba(99, 115, 129, 0.08);
    border-radius: 30%;
    text-align: center;
    cursor: pointer;

}

.item_header_admin {
    display: flex;
    gap: 10px;
}

.header_flash {
    height: 20px;
}

.btn_bell {
    background-color: #fff;
}

.header_Admin {
    height: 80px;

    width: 80%;
}

.input_searchAdmin {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
}